<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FilmTheater" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\Documents\программирование\всякое\Sql_Database_FilmTheater_FirstTry\Sql_Database_FilmTheater_FirstTry\FilmTheater.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>